 .deposit{
    background-color: black;
    color:white;
    padding-top: 9vh;
    height: max-content;
}
.deposit-main {
    color:#ffffff;
    height: 40%;
    opacity: 0.8;
    padding: 20px;
    border-radius: 8px;
    width: 40vw;
    margin: 50px auto;
    box-shadow: 0 1px 4px #ff6f00;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .deposit-div{
      height: 84vh;
      display: grid;
      place-items: center;
  }
  .deposit-main p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .deposit-main input {
    background-color: #000000;
    border: 0.5px solid rgba(255, 255, 255, 0.237);
    color: white;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    transition: 0.3s;
  }
  
  .deposit-main input::placeholder {
    color: #bbb;
  }
  
  .deposit-main input:hover {
    border-color: #ff9900;
    /* box-shadow: 0 0 5px rgba(255, 165, 0, 0.5); */
  }
  .deposit-main input:focus {
    border-color: #ff9900;
    /* box-shadow: 0 0 5px rgba(255, 165, 0, 0.5); */
  }
  

  .deposit-submit {
  background-color: #ff6f00; 
  width:90px;
  color: white;
  padding: 10px 22px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.deposit-submit:hover {
  background-color: #bc5404;
  transform: translateY(-2px);
}

.deposit-submit:active {
  transform: translateY(1px);
}
  @media (max-width:750px)
  {
    .deposit-main{
      width:70vw;
    }
  }
  

