.history{
    background-color: black;
    color:white;
    min-height:100vh;
    display: flex;
    flex-direction: column;
}
.history-main {
 
    color:#ff6f00;
    padding: 20px;
    border-radius: 8px;
    width: 40vw;
    height:25vh;
    margin: 50px auto;
    box-shadow: 0 4px 10px #ff6f00;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .history-main p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  
  .history-main input {
    background-color: #000000;
    border: 1px solid #f5a623;
    color: white;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    transition: 0.3s;
  }
  
  .history-main input::placeholder {
    color: #bbb;
  }
  
  .history-main input:focus {
    border-color: #ff9900;
    box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
  }
  
  .history-submit{
    background-color:#ff6f00;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width:20vw;
    transition: 0.3s;
    display: block; 
  margin: 10px auto; 
  }
  
  .history-submit:hover {
    background-color:  #e16e15;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.7);
  }
  .history-sub-div{
    display: grid;
    place-items: center;
    width:100%;
  }
  .history-hero{
    min-height: 5vh;
    margin-bottom: 10px;
    width:70%;
    text-align: center;
    /* border:2px solid white; */
    margin:auto;
  }
  
